{% extends "base.html" %}

{% block content %}

<div class="w3-container w3-padding-64">
    <img src="/static/images/image1.png" alt="About Us" class="w3-image w3-center" style="max-width: 500px;">
    <h1 class="w3-center">About Bluebird Jet Air</h1>
    <p class="w3-large">Bluebird Jet Air is an airline dedicated to providing exceptional travel experiences to destinations around the globe. Founded in 1983, we have grown to become a leading carrier known for our commitment to safety, comfort, and customer satisfaction.</p>

    <h2 class="w3-center w3-margin-top">Our History</h2>
    <p>Bluebird's journey began with a vision to connect people and cultures through the magic of flight. We began our venture in Prescott, AZ, and soon began to grow with the help of our talented staff and community. We started with a small fleet of aircraft and a handful of destinations, gradually expanding our network and services over the years. Today, we operate a modern fleet and offer flights to numerous destinations across continents.</p>

    <h2 class="w3-center w3-margin-top">Our Flights</h2>
    <p>Bluebird Jet Air operates flights mainly out of Prescott Regional Airport (PRC) to Los Angeles, CA (LAX) and Denver, Colorado (DEN). Our selection of flights are catered toward those who are frequently traveling in and out of the Mile High City. Some of our other frequent flights include travel to Daytona Beach, Florida and St. Louis, Missouri. Additionally, we operate international flights out of LAX to countries in Europe such as Ireland, United Kingdom, France, and Germany.</p>

    <h2 class="w3-center w3-margin-top">Our Values</h2>
    <ul class="w3-ul w3-border">
        <li><b>Safety:</b> We prioritize the safety of our passengers and crew above all else.</li>
        <li><b>Customer Focus:</b> We strive to exceed customer expectations with personalized service and attention to detail.</li>
        <li><b>Innovation:</b> We embrace new technologies and ideas to enhance the travel experience.</li>
        <li><b>Sustainability:</b> We are committed to operating in an environmentally responsible manner.</li>
    </ul>

    <p class="w3-center w3-margin-top">At Bluebird Jet Air, we believe that travel should be an enjoyable and enriching experience. We invite you to explore the world with us and create memories that will last a lifetime.</p>
</div>

{% endblock %}