{% extends "base.html" %}

{% block content %}

<div class="w3-container w3-padding-64">
    <h1 class="w3-center">Contact Bluebird Jet Air</h1>
    <p class="w3-large w3-center">We're here to help! Get in touch with us through any of the following channels:</p>

    <div class="w3-center w3-margin-top">
        <i class="fa fa-phone w3-xlarge social-link"></i>
        <p><a href="tel:+18002582473" class="social-link"><b>Support Line:</b> +1 (800) 258-2473</a></p>

        <i class="fa fa-envelope w3-xlarge social-link"></i>
        <p><b>Email:</b> info@bluebirdjetair.com</p>

        <a href="https://twitter.com/bluebirdjetair" target="_blank" class="fa fa-twitter w3-hover-opacity w3-xlarge social-link"></a>
        <p><a href="https://twitter.com/bluebirdjetair" target="_blank" class="social-link"><b>Twitter:</b> @bluebirdjetair</a></p>

        <a href="https://www.instagram.com/bluebirdjetairofficial" target="_blank" class="fa fa-instagram w3-hover-opacity w3-xlarge social-link"></a>
        <p><a href="https://www.instagram.com/bluebirdjetairofficial" target="_blank" class="social-link"><b>Instagram:</b> @bluebirdjetairofficial</a></p>
    </div>
</div>

{% endblock %}