{% extends "base.html" %}


{% block content %}
<body>
    <div class="login-container">
        <!--Marked safe to test functionality with test function-->
        <h2 class="greeting-container">Hello, {{ username|safe }}!</h2>
        {% if show_flag %}
        <div id="flag-content">
            <p>Flag: {{ flag_content }}</p>
        </div>
        {% else %}
        <div id="non-admin-message">
            <p>Sorry, you must be an admin to view the flag.</p>
        </div>
        {% endif %}
    </div>
</body>
{% endblock %}
